<div
  class="bg-surface text-on-surface font-body h-screen w-full overflow-hidden flex items-center justify-center relative">

  <!-- 🌄 Background Image Layer -->
  <img class="absolute inset-0 w-full h-full object-cover opacity-20 grayscale-[0.2] z-0"
    src="https://lh3.googleusercontent.com/aida-public/AB6AXuAm3ojEAB-nPrBl1kQCHgQwTXty8UUor_a4OxGFJYaebeoqsdPazVW62cJGIsMHt4Y3gIgxgYl8APn22C_2Wq-ZtCytwVeK3CMg21s9uyjl2hEQyiy_ZeH9924tlEvXfXhg7JP_s_oG0D8C_xqP3vAQ2Gy2xzSDV4hZoL3fR2UwhKWYHSbjjSTz7U4emX7pattW8KR27DFRBg5CSLXPL_Gi_0Z2-nJAj3M6aD1ihgs7Xf7C4GaDMQJdoreiUDkX_cgsp-sgif61tJw"
    alt="background" />

  <!-- Background Decor -->
  <div class="absolute inset-0 z-0 overflow-hidden pointer-events-none">
    <div class="absolute -top-[10%] -left-[5%] w-[40%] h-[40%] rounded-full bg-primary-fixed/30 blur-[120px]"></div>
    <div class="absolute -bottom-[10%] -right-[5%] w-[40%] h-[40%] rounded-full bg-tertiary-fixed/20 blur-[120px]">
    </div>
  </div>
  <!-- Onboarding Container -->
  <main class="relative z-10 w-full max-w-4xl px-6 h-full flex items-center justify-center">
    <!-- <section class="glass-card w-full max-h-[870px] rounded-[20px] shadow-[0_20px_40px_rgba(28,27,27,0.06)] flex flex-col p-10 md:p-14 border border-white/20"> -->
    <section
      class="glass-card w-full max-w-2xl max-h-162.5 rounded-[18px] shadow-[0_15px_30px_rgba(28,27,27,0.06)] flex flex-col p-6 md:p-8 border border-white/20">
      <!-- Header Section -->
      <div class="text-center mb-6">
        <h1 class="font-headline text-4xl md:text-5xl text-primary font-bold tracking-tight mb-4">
          Personalize Your Feed
        </h1>
        <p class="font-body text-on-surface-variant text-lg max-w-xl mx-auto leading-relaxed">
          Select categories that interest you to curate your experience.
        </p>
      </div>
      <!-- Categories Grid -->
      <div class="category-grid overflow-y-auto grow px-2 mb-10">
        <div class="flex flex-wrap justify-center gap-3 mt-6">
          <!-- Technology (Active Example) -->
          <button (click)="toggleCategory('Technology')"
            [ngClass]="isSelected('Technology') ? selectedClass : normalClass">
            <span class="font-label text-sm">Technology</span>

            @if (isSelected('Technology')) {
            <span class="material-symbols-outlined text-sm" style="font-variation-settings: 'FILL' 1;">
              check_circle
            </span>
            }
          </button>
          <!-- Inactive Categories -->


          <button (click)="toggleCategory('Programming')"
            [ngClass]="isSelected('Programming') ? selectedClass : normalClass">
            <span class="font-label text-sm">Programming</span>

            @if (isSelected('Programming')) {
            <span class="material-symbols-outlined text-sm" style="font-variation-settings: 'FILL' 1;">
              check_circle
            </span>
            }
          </button>

          <button (click)="toggleCategory('Technology')"
            [ngClass]="isSelected('Technology') ? selectedClass : normalClass">
            <span class="font-label text-sm">Technology</span>
            @if (isSelected('Technology')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Programming')"
            [ngClass]="isSelected('Programming') ? selectedClass : normalClass">
            <span class="font-label text-sm">Programming</span>
            @if (isSelected('Programming')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Artificial Intelligence')"
            [ngClass]="isSelected('Artificial Intelligence') ? selectedClass : normalClass">
            <span class="font-label text-sm">Artificial Intelligence</span>
            @if (isSelected('Artificial Intelligence')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Machine Learning')"
            [ngClass]="isSelected('Machine Learning') ? selectedClass : normalClass">
            <span class="font-label text-sm">Machine Learning</span>
            @if (isSelected('Machine Learning')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Web Development')"
            [ngClass]="isSelected('Web Development') ? selectedClass : normalClass">
            <span class="font-label text-sm">Web Development</span>
            @if (isSelected('Web Development')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Mobile App Development')"
            [ngClass]="isSelected('Mobile App Development') ? selectedClass : normalClass">
            <span class="font-label text-sm">Mobile App Development</span>
            @if (isSelected('Mobile App Development')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('UI/UX Design')"
            [ngClass]="isSelected('UI/UX Design') ? selectedClass : normalClass">
            <span class="font-label text-sm">UI/UX Design</span>
            @if (isSelected('UI/UX Design')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Product Design')"
            [ngClass]="isSelected('Product Design') ? selectedClass : normalClass">
            <span class="font-label text-sm">Product Design</span>
            @if (isSelected('Product Design')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Business & Startups')"
            [ngClass]="isSelected('Business & Startups') ? selectedClass : normalClass">
            <span class="font-label text-sm">Business & Startups</span>
            @if (isSelected('Business & Startups')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Finance & Investing')"
            [ngClass]="isSelected('Finance & Investing') ? selectedClass : normalClass">
            <span class="font-label text-sm">Finance & Investing</span>
            @if (isSelected('Finance & Investing')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Marketing & Growth')"
            [ngClass]="isSelected('Marketing & Growth') ? selectedClass : normalClass">
            <span class="font-label text-sm">Marketing & Growth</span>
            @if (isSelected('Marketing & Growth')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Entrepreneurship')"
            [ngClass]="isSelected('Entrepreneurship') ? selectedClass : normalClass">
            <span class="font-label text-sm">Entrepreneurship</span>
            @if (isSelected('Entrepreneurship')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Education & Learning')"
            [ngClass]="isSelected('Education & Learning') ? selectedClass : normalClass">
            <span class="font-label text-sm">Education & Learning</span>
            @if (isSelected('Education & Learning')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Science & Research')"
            [ngClass]="isSelected('Science & Research') ? selectedClass : normalClass">
            <span class="font-label text-sm">Science & Research</span>
            @if (isSelected('Science & Research')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Health & Wellness')"
            [ngClass]="isSelected('Health & Wellness') ? selectedClass : normalClass">
            <span class="font-label text-sm">Health & Wellness</span>
            @if (isSelected('Health & Wellness')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Fitness & Nutrition')"
            [ngClass]="isSelected('Fitness & Nutrition') ? selectedClass : normalClass">
            <span class="font-label text-sm">Fitness & Nutrition</span>
            @if (isSelected('Fitness & Nutrition')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Psychology')"
            [ngClass]="isSelected('Psychology') ? selectedClass : normalClass">
            <span class="font-label text-sm">Psychology</span>
            @if (isSelected('Psychology')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Personal Development')"
            [ngClass]="isSelected('Personal Development') ? selectedClass : normalClass">
            <span class="font-label text-sm">Personal Development</span>
            @if (isSelected('Personal Development')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Productivity')"
            [ngClass]="isSelected('Productivity') ? selectedClass : normalClass">
            <span class="font-label text-sm">Productivity</span>
            @if (isSelected('Productivity')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Career Advice')"
            [ngClass]="isSelected('Career Advice') ? selectedClass : normalClass">
            <span class="font-label text-sm">Career Advice</span>
            @if (isSelected('Career Advice')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Remote Work')"
            [ngClass]="isSelected('Remote Work') ? selectedClass : normalClass">
            <span class="font-label text-sm">Remote Work</span>
            @if (isSelected('Remote Work')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Freelancing')"
            [ngClass]="isSelected('Freelancing') ? selectedClass : normalClass">
            <span class="font-label text-sm">Freelancing</span>
            @if (isSelected('Freelancing')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Gaming')" [ngClass]="isSelected('Gaming') ? selectedClass : normalClass">
            <span class="font-label text-sm">Gaming</span>
            @if (isSelected('Gaming')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Entertainment')"
            [ngClass]="isSelected('Entertainment') ? selectedClass : normalClass">
            <span class="font-label text-sm">Entertainment</span>
            @if (isSelected('Entertainment')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Travel & Lifestyle')"
            [ngClass]="isSelected('Travel & Lifestyle') ? selectedClass : normalClass">
            <span class="font-label text-sm">Travel & Lifestyle</span>
            @if (isSelected('Travel & Lifestyle')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Photography')"
            [ngClass]="isSelected('Photography') ? selectedClass : normalClass">
            <span class="font-label text-sm">Photography</span>
            @if (isSelected('Photography')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

          <button (click)="toggleCategory('Writing & Blogging')"
            [ngClass]="isSelected('Writing & Blogging') ? selectedClass : normalClass">
            <span class="font-label text-sm">Writing & Blogging</span>
            @if (isSelected('Writing & Blogging')) {
            <span class="material-symbols-outlined text-sm"
              style="font-variation-settings: 'FILL' 1;">check_circle</span>
            }
          </button>

        </div>
      </div>
      <!-- Footer Action -->
      <div class="flex flex-col items-center gap-4">
        <button
          class="bg-primary text-on-primary font-label text-sm font-bold py-4 px-12 rounded-sm transition-all duration-300 hover:opacity-90 active:scale-95 shadow-lg flex items-center gap-2 group">
          Continue
          <span
            class="material-symbols-outlined text-base group-hover:translate-x-1 transition-transform">arrow_forward</span>
        </button>
        <!-- <p class="font-label text-[10px] uppercase tracking-widest text-on-surface-variant opacity-50">
          Step 1 of 3
        </p> -->
      </div>
    </section>
  </main>

  <!-- Visual Texture Overlay -->
  <div class="fixed inset-0 pointer-events-none z-50 mix-blend-overlay opacity-10">
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
      <filter id="noise">
        <feturbulence basefrequency="0.65" numoctaves="3" stitchtiles="stitch" type="fractalNoise"></feturbulence>
      </filter>
      <rect filter="url(#noise)" height="100%" width="100%"></rect>
    </svg>
  </div>
</div>
