<nav
  class="fixed top-0 w-full z-50 glass-nav flex justify-between items-center px-8 h-16 shadow-[0_20px_40px_rgba(28,27,27,0.06)]">
  <div class="flex items-center gap-8">
    <span class="text-2xl font-serif font-black text-teal-950 dark:text-teal-50">The Editorial Muse</span>
    <div class="hidden md:flex relative items-center">
      <span class="material-symbols-outlined absolute left-3 text-stone-400">search</span>
      <input
        class="bg-surface-container-low border-none rounded-full py-2 pl-10 pr-4 text-sm w-64 focus:ring-1 focus:ring-primary transition-all"
        placeholder="Search insights..." type="text">
    </div>
  </div>
  <div class="flex items-center gap-6">
    <div class="hidden lg:flex gap-6 items-center mr-4">
      <a class="text-teal-950 relative after:content-[''] after:absolute after:-bottom-1 after:left-1/2 after:-translate-x-1/2 after:w-1 after:h-1 after:bg-[#2e170b] after:rounded-full font-serif font-bold"
        href="#">Explore</a>
      <a class="text-stone-500 font-sans hover:text-teal-700 transition-colors duration-300" href="#">Bookmarks</a>
    </div>
    <div class="flex items-center gap-4">
      <button
        class="flex items-center gap-2 px-4 py-1.5 bg-primary text-on-primary rounded-full hover:opacity-90 transition-all active:scale-95 duration-200">
        <span class="material-symbols-outlined text-lg">edit_square</span>
        <span class="font-label text-sm font-medium">Write</span>
      </button>
      <button class="text-stone-600 hover:text-primary transition-colors">
        <span class="material-symbols-outlined">notifications</span>
      </button>
      <div
        class="h-8 w-8 rounded-full overflow-hidden bg-surface-container-high cursor-pointer ring-1 ring-outline-variant/20">
        <img alt="User profile" class="h-full w-full object-cover"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuD1yRc51jYOfI4pci7wLsRLBZ2h6CHzPvuh0N1qCtf-px58wyuNSn_f08hGaSBWUa1pEBX3vPbiGOt3HdyxyzTStnMEQOQuaaBV1I9kbILKoeV5WRcvA4SZwsQmlKyk6HpQx9QchFqULNmrx-mE9MrGYoeDdn6W-gi2BvqFrRcZhPPG-0BPBsS-xpF3UJxLGJwqyENQ2Y3npMfaGTUjZH19OmeboeDZE_hgQJ66P8goDQJzNFvMb5_pCmN34HVDHybVtKq20Zohpt4">
      </div>
    </div>
  </div>
</nav>
