<!-- <nav class="md:hidden fixed bottom-0 w-full h-16 flex justify-around items-center bg-white border-t">
  <span class="material-symbols-outlined text-primary">home</span>
  <span class="material-symbols-outlined">search</span>
  <span class="material-symbols-outlined">bookmark</span>
  <span class="material-symbols-outlined">person</span>
</nav> -->


<!-- Mobile Bottom Navigation (Responsive Pivot) -->
<nav
  class="md:hidden fixed bottom-0 left-0 w-full bg-white/90 backdrop-blur-lg border-t border-stone-200/20 px-6 py-4 flex justify-between items-center z-50">
  <a class="flex flex-col items-center space-y-1 text-stone-500" href="#">
    <span class="material-symbols-outlined">dashboard</span>
  </a>
  <a class="flex flex-col items-center space-y-1 text-stone-500" href="#">
    <span class="material-symbols-outlined">auto_stories</span>
  </a>
  <a class="flex flex-col items-center space-y-1 text-teal-900" href="#">
    <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1;">tune</span>
  </a>
  <a class="flex flex-col items-center space-y-1 text-stone-500" href="#">
    <span class="material-symbols-outlined">groups</span>
  </a>
  <div class="w-8 h-8 rounded-full overflow-hidden border border-stone-200">
    <img alt="User" class="w-full h-full object-cover grayscale" data-alt="Monochrome user avatar thumbnail"
      src="https://lh3.googleusercontent.com/aida-public/AB6AXuCOPPqoJleFPETOpklfdcEAa8jmCRISpG34c285gGVJ5XIq5oyJOquYPoKPTdOJO68R8CKlvPwQeiQq3-9XT7dq-56qRhCtYk7MsxbWoj5bI7p_uOX6o48vCNlGQ63J8S-3yiB0OJC7g8jNt-_yXTzT5CeDidBlaRw6siQ_NmJlw1WErW9yKACJLDGdCYa1zNguFZDwt6tqk7IvBUUJhfKDoNlUOmAE3hsY-ubCIqYeUIPp8qFCpRR1AzpHVh1n7EME-fmYM9rdkH8" />
  </div>
</nav>
